// Set max-width to 550px from settings page

// --- Theme Code --- //
// Submit Button Color//
.um input[type="submit"].um-button, .um input[type="submit"].um-button:focus, .um a.um-button, .um a.um-button.um-disabled:hover, .um a.um-button.um-disabled:focus, .um a.um-button.um-disabled:active {
    background: #ef512a !important; // #3ba1da
}
.um .um-button.um-alt, .um input[type="submit"].um-button.um-alt {
    background: #e2e2e2 !important; // #ccc
    box-shadow: none;
}
// Selection Color
.um .um-tip:hover, .um .um-field-radio.active:not(.um-field-radio-state-disabled) i, .um .um-field-checkbox.active:not(.um-field-radio-state-disabled) i, .um .um-member-name a:hover, .um .um-member-more a:hover, .um .um-member-less a:hover, .um .um-members-pagi a:hover, .um .um-cover-add:hover, .um .um-profile-subnav a.active, .um .um-item-meta a, .um-account-name a:hover, .um-account-nav a.current, .um-account-side li a.current span.um-account-icon, .um-account-side li a.current:hover span.um-account-icon, .um-dropdown li a:hover, i.um-active-color, span.um-active-color {
    color: #ef512a !important; // #3ba1da
}
// Input Field Border
.um .um-form input[type="text"], .um .um-form input[type="tel"], .um .um-form input[type="number"], .um .um-form input[type="password"], .um .um-form textarea, .um .upload-progress, .select2-container .select2-choice, .select2-drop, .select2-container-multi .select2-choices, .select2-drop-active, .select2-drop.select2-drop-above {
    border-radius: 0 !important;
}
.um {
    .um-form {
        background-color: #fafafa;
        border: 1px solid #e9e9e9;
        .um-field-label {
            label {
                .um-req {
                    color: #ef512a;
                }
            }
        }
    }  
}

// --- Default Code --- //

.um {
    max-width: 650px!important;
    .um-form {
        padding: 1rem 2rem 3rem;
        .um-field-label {
            label {
                margin-bottom: 0;
            }
        }
    }  
}