// // 나눔고딕 (Korean) http://www.google.com/fonts/earlyaccess
// @font-face {
// 	font-family: 'Nanum Gothic';
// 	font-style: normal;
// 	font-weight: normal;
// 	src: url(/wp-content/themes/MTP-WP-Theme/fonts/NanumGothic-Regular.eot);
// 	src: url(/wp-content/themes/MTP-WP-Theme/fonts/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
// 		 url(/wp-content/themes/MTP-WP-Theme/fonts/NanumGothic-Regular.woff2) format('woff2'),
// 		 url(/wp-content/themes/MTP-WP-Theme/fonts/NanumGothic-Regular.woff) format('woff'),
// 		 /*url(/wp-content/themes/MTP-WP-Theme/fonts/NanumGothic-Regular.ttf) format('truetype');*/
// }
// @font-face {
// 	font-family: 'Nanum Gothic';
// 	font-style: normal;
// 	font-weight: bold;
// 	src: url(/wp-content/themes/MTP-WP-Theme/fonts/NanumGothic-Bold.eot);
// 	src: url(/wp-content/themes/MTP-WP-Theme/fonts/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
// 		 url(/wp-content/themes/MTP-WP-Theme/fonts/NanumGothic-Bold.woff2) format('woff2'),
// 		 url(/wp-content/themes/MTP-WP-Theme/fonts/NanumGothic-Bold.woff) format('woff'),
// 		 /*url(/wp-content/themes/MTP-WP-Theme/fonts/NanumGothic-Bold.ttf) format('truetype');*/
// }

// 나눔바른고딕 (Korean) http://www.google.com/fonts/earlyaccess
@font-face {
	font-family: 'NanumBarunGothic';
	font-weight: 400;
	src: url(/wp-content/themes/MTP-WP-Theme/fonts/NanumBarunGothicSubset.eot);
	src: url(/wp-content/themes/MTP-WP-Theme/fonts/NanumBarunGothicSubset.eot?#iefix) format('embedded-opentype'),
		 url(/wp-content/themes/MTP-WP-Theme/fonts/NanumBarunGothicSubset.woff) format('woff'),
		 url(/wp-content/themes/MTP-WP-Theme/fonts/NanumBarunGothicSubset.ttf) format('truetype');
}
@font-face {
	font-family: 'NanumBarunGothic';
	font-weight: 700;
	src: url(/wp-content/themes/MTP-WP-Theme/fonts/NanumBarunGothicBoldSubset.eot);
	src: url(/wp-content/themes/MTP-WP-Theme/fonts/NanumBarunGothicBoldSubset.eot?#iefix) format('embedded-opentype'),
		 url(/wp-content/themes/MTP-WP-Theme/fonts/NanumBarunGothicBoldSubset.woff) format('woff'),
		 url(/wp-content/themes/MTP-WP-Theme/fonts/NanumBarunGothicBoldSubset.ttf) format('truetype');
}
@font-face {
	font-family: 'NanumBarunGothic';
	font-weight: 300;
	src: url(/wp-content/themes/MTP-WP-Theme/fonts/NanumBarunGothicLightSubset.eot);
	src: url(/wp-content/themes/MTP-WP-Theme/fonts/NanumBarunGothicLightSubset.eot?#iefix) format('embedded-opentype'),
		 url(/wp-content/themes/MTP-WP-Theme/fonts/NanumBarunGothicLightSubset.woff) format('woff'),
		 url(/wp-content/themes/MTP-WP-Theme/fonts/NanumBarunGothicLightSubset.ttf) format('truetype');
}
@font-face {
	font-family: 'NanumBarunGothic';
	font-weight: 200;
	src: url(/wp-content/themes/MTP-WP-Theme/fonts/NanumBarunGothicUltraLightSubset.eot);
	src: url(/wp-content/themes/MTP-WP-Theme/fonts/NanumBarunGothicUltraLightSubset.eot?#iefix) format('embedded-opentype'),
		 url(/wp-content/themes/MTP-WP-Theme/fonts/NanumBarunGothicUltraLightSubset.woff) format('woff'),
		 url(/wp-content/themes/MTP-WP-Theme/fonts/NanumBarunGothicUltraLightSubset.ttf) format('truetype');
}

/* 나눔스퀘어라운드 웹폰트 v1.11 https://github.com/innks/NanumSquareRound */
@font-face {
	font-family: 'NanumSquareRound';
	font-style: normal;
	font-weight: 300;
	src: local("NanumSquareRoundL"), /* computer */
	  url(/wp-content/themes/MTP-WP-Theme/fonts/NanumSquareRoundL.eot), /* IE9 Compat Modes */
	  url(/wp-content/themes/MTP-WP-Theme/fonts/NanumSquareRoundL.eot?#iefix) format("embedded-opentype"), /* IE6-IE8 */
	  url(/wp-content/themes/MTP-WP-Theme/fonts/NanumSquareRoundL.woff2) format("woff2"), /* Modern Browsers */
	  url(/wp-content/themes/MTP-WP-Theme/fonts/NanumSquareRoundL.woff) format("woff"), /* Modern Browsers */
	  url(/wp-content/themes/MTP-WP-Theme/fonts/NanumSquareRoundL.ttf) format("truetype"); /* Safari, Android, iOS */
  }
  @font-face {
	font-family: 'NanumSquareRound';
	font-style: normal;
	font-weight: 400;
	src: local("NanumSquareRoundR"), /* computer */
	  url(/wp-content/themes/MTP-WP-Theme/fonts/NanumSquareRoundR.eot), /* IE9 Compat Modes */
	  url(/wp-content/themes/MTP-WP-Theme/fonts/NanumSquareRoundR.eot?#iefix) format("embedded-opentype"), /* IE6-IE8 */
	  url(/wp-content/themes/MTP-WP-Theme/fonts/NanumSquareRoundR.woff2) format("woff2"), /* Modern Browsers */    
	  url(/wp-content/themes/MTP-WP-Theme/fonts/NanumSquareRoundR.woff) format("woff"), /* Modern Browsers */
	  url(/wp-content/themes/MTP-WP-Theme/fonts/NanumSquareRoundR.ttf) format("truetype"); /* Safari, Android, iOS */
  }
  @font-face {
	font-family: 'NanumSquareRound';
	font-style: normal;
	font-weight: 700;
	src: local("NanumSquareRoundB"), /* computer */
	  url(/wp-content/themes/MTP-WP-Theme/fonts/NanumSquareRoundB.eot), /* IE9 Compat Modes */
	  url(/wp-content/themes/MTP-WP-Theme/fonts/NanumSquareRoundB.eot?#iefix) format("embedded-opentype"), /* IE6-IE8 */
	  url(/wp-content/themes/MTP-WP-Theme/fonts/NanumSquareRoundB.woff2) format("woff2"), /* Modern Browsers */
	  url(/wp-content/themes/MTP-WP-Theme/fonts/NanumSquareRoundB.woff) format("woff"), /* Modern Browsers */
	  url(/wp-content/themes/MTP-WP-Theme/fonts/NanumSquareRoundB.ttf) format("truetype"); /* Safari, Android, iOS */
  }
  @font-face {
	font-family: 'NanumSquareRound';
	font-style: normal;
	font-weight: 800;
	src: local("NanumSquareRoundEB"), /* computer */
	  url(/wp-content/themes/MTP-WP-Theme/fonts/NanumSquareRoundEB.eot), /* IE9 Compat Modes */
	  url(/wp-content/themes/MTP-WP-Theme/fonts/NanumSquareRoundEB.eot?#iefix) format("embedded-opentype"), /* IE6-IE8 */
	  url(/wp-content/themes/MTP-WP-Theme/fonts/NanumSquareRoundEB.woff2) format("woff2"), /* Modern Browsers */
	  url(/wp-content/themes/MTP-WP-Theme/fonts/NanumSquareRoundEB.woff) format("woff"), /* Modern Browsers */
	  url(/wp-content/themes/MTP-WP-Theme/fonts/NanumSquareRoundEB.ttf) format("truetype"); /* Safari, Android, iOS */
  }
  