/*
* 
* Primary Color: #000 
* Complementary Scheme
*
*/

// ----- Color Scheme ----- //

// Primary Color - Navy Blue #1f2d60
$primary-color: #000;

// Secondary Color - Blue #0B26BF
$secondary-color: #fff;

// Tertiery Color - Light Blue #283FBF
$tertiery-color: #666;

// Accent Color - Button, link hover etc.
// $accent-color: #AD8515;
$accent-color: #000;

// Sub Color - Brown #735A0D
// $sub-color: #614F1F;
$accent-sub-color: #000;

// ----- //


// ----- Typography ----- //

// Primary - Light Area Font
$font-color: #000;

// Negative Primary - Dark Area Font
$font-color-ng: #fff;

// Accent - Light Area Accent
$font-color-ac:  #333;

// Negative Accent - Dark Area Accent
$font-color-ng-ac: #ccc;

// Footer
$font-footer-color: #fff;

// Colophon
$font-colophon-color: #d4d4d4;

// ----- //


// ----- Structural ----- //

// --- Header --- //
// Base Color - background header, body etc.
$base-color: #fff;

// Base Sub Color - background header sub, body sub etc.
$base-sub-color: #f2f2f2;
// --- //

// --- Navigation --- //
// Negative Base Color - nav background
$ng-base-color: #23282d;

// Negative Base Sub Color - expanded nav background
$ng-base-sub-color: #191e23;
// --- //

// --- Footer --- //
// Footer BG Color
$footer-bg-color: #0f182b;

// Colophon BG color
$colophon-bg-color: #080c17;
// --- //

// --- Elements --- //
// Line / Divider - Light Area
$line-color: #e2e2e2;

// Line Negative / Divider - Dark Area
$line-color-ng: #444;

// Line Footer Border Top
$line-footer-top: #18264c;

// Line Colophon Border Top
$line-colophon-top: #18264c;

// --- //

// ----- //
