$font__main: 'Roboto', 'NanumBarunGothic', sans-serif;
$font__kor: 'NanumBarunGothic', sans-serif;
$font__eng: 'Roboto', sans-serif;
$font__nav: 'Montserrat', 'NanumSquareRound', sans-serif;
$font__sub-nav: 'Montserrat', 'NanumBarunGothic', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.8;
$font__line-height-pre: 1.6;
