// Post navigation
.post-navigation {
  width: 100%;
  .nav-links { // wrapper
    @include flexbox;
    @include justify-content(space-between);
    @include flex-wrap(wrap);
    .nav-previous {
      padding: 15px;
      margin-top: 15px;
      flex-basis: 20%;
    }
    .nav-next {
      padding: 15px;
      margin-top: 15px;
      flex-basis: 20%;
    }
    .title {
      display: block;
    }
    .post-title {
      display: block;
    }
  }
  .fa-chevron-left {
    margin-right: 5px;
  }
  .fa-chevron-right {
    margin-right: 5px;
  }
}
@include media-breakpoint-up(md) {
  .post-navigation {
    .nav-links {
      .nav-previous {
        flex-basis: 40%;
        max-width: 40%;
      }
      .nav-next {
        flex-basis: 40%;
        max-width: 40%;
      }
    }
  }
  .pagination {
    @include justify-content(flex-end);
    .nav-links {
      .page-numbers {
        border: 1px solid #000;
        padding: 5px 10px;
      }
    }
  }
}
