/*--------------------------------------------------------------
 * Default
** ------------------------------------------------------------- */
html, body, button, input, select, textarea, .elementor-text-editor {
	font-family: '나눔고딕', NanumGothic, 'Nanum Gothic', '맑은 고딕', 'malgun gothic', AppleGothicNeoSD, 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic',  'Droid sans', sans-serif !important;
}

.color-aqua {
    color: #9ebdbd;
}
.color-aqua-light {
    color: aqua;
}
.color-green {
    color: #97ffcb;
}
.color-orange {
    color: #e6784f;
}
.color-red {
    color: #ec3642;
}
.color-blue {
    color: #91c1e8;
}
.color-divid {
    color: #4e4e4e;
}
.center {
    text-align: center;
}

/*--------------------------------------------------------------
 * 본문
** ------------------------------------------------------------- */
body#tinymce {
    background-color: #333333;
    color: #929292;
}

h2 {
    border-left: 5px solid #ec3642;
    padding-left: 10px;
    margin-top: 50px;
    color: #e0e0e0;
}
h2:first-child {
    margin-top: 0;
}

h3 {
    margin-top: 30px;
    color: #e8bf74;
}

strong, b {
    color: #e6784f;
}

a {
    color: #ec3642 !important;
    text-decoration: none !important;
    display: inline-block;
    border-bottom: 2px dotted #983a40;
    line-height: 1.5;
}

/* 인라인 관련 */
.entry-content span {
    text-decoration: none !important;
}

.entry-content .center {
    text-align: center;
}