@import "default";

/*--------------------------------------------------------------
## Header background: block / transparent
--------------------------------------------------------------*/
// @import "transparent";

/*--------------------------------------------------------------
## Logo position: logo-center / logo-right
--------------------------------------------------------------*/
@import "logo-left";
// @import "logo-center";
// @import "logo-right";

/*--------------------------------------------------------------
## Header on scroll: block / fixed
--------------------------------------------------------------*/
@import "fixed";

/*--------------------------------------------------------------
## Top header
--------------------------------------------------------------*/
@import "top-header";

/* ----- Theme ----- */

// ----- Mobile ----- //

// Logo design
.site-branding {
  padding: 5px;
  border-radius: 100px;
}

@include media-breakpoint-up($breakpoint__mobile-nav) {
  #header-widget-1 {
    .widget {
      img {
        max-height: 124px;
        object-fit: contain;
        font-family: 'object-fit: contain;';
      }
    }
  }
  #main-header {
    .container {
      @include flexbox;
      .navbar-primary {
        @include flex-basis(80%);
      }
      .navbar-secondary {
        @include flex-basis(20%);
      }
    }
  }
}
