body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include rfs(12);
	line-height: $font__line-height-body;
}
h2 {
	@include rfs(16);
}
p {
	margin-bottom: 0;
}
@include media-breakpoint-up(sm) { // 576px and up

}
@include media-breakpoint-up(md) { // 768px and up
	body,
	button,
	input,
	select,
	optgroup,
	textarea {
		@include rfs(14);
	}
	h2 {
		@include rfs(18);
	}
}
@include media-breakpoint-up(lg) { // 992px and up

}
@include media-breakpoint-up(xl) { // 1200px and up

}

@import "headings";

@import "copy";
