@import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "../../site/primary/posts-and-pages";
@import "default"; // pm resets
@import "home"; // home page
@import "archive"; // archive page
@import "about-us"; // about us page
@import "woocommerce-single";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "../../site/primary/comments";


/* ----- Theme Style ----- */

// --- Archive --- //
.site-content {
	// Header banner design
	.header-banner {
		// a links
		a {
			&:hover {
				color: #ef512a;
			}
		}
		.header-banner-content {
			.page_description {
				text-align: center;
			}
		}
	}
	.container {
		#primary {
			#main {
				// hide redundant page header
				.page-header {
					display: none;
				}
				article {
					.entry-header {
						padding: 15px;
						border: solid 1px #e9e9e9;
						border-bottom-width: 0;
						.entry-meta {
							@include flexbox;
							@include flex-direction(column);
							.posted-on {
								display: none;
							}
							.byline {
								display: none;
							}
							p {
								margin-bottom: 0;
							}
						}
					}
					.card-bottom-wrapper {
						@include flexbox;
						@include justify-content(space-between);
						@include align-items(center);
						@include flex-wrap(wrap);
						padding: 15px;
						border: solid 1px #e9e9e9;
						background-color: #fafafa;
						img {
							max-height: 15px;
							margin-right: 5px;
						}
					}
				}
			}
		}
	}
}

// --- Single --- //
.single {
	article { // post
		.entry-header {
			.entry-meta {
				display: none !important;
			}
		}
		.entry-content {
			margin-top: 0;
			@include rfs(16);
		}
	}
}

// --- Page --- //
.page {
	.site-content {
		.content-area { // #primary
			.site-main { // #main
				article {
					.entry-header {
						display: none;
					}
					.post-thumbnail {
						text-align: center;
						margin-bottom: 20px;
					}
				}
			}
		}
	}
}

@include media-breakpoint-up($breakpoint__mobile-nav) {
	// all posts & pages spacing bottom
	.site-content {
		padding-bottom: 4em;
	}
}
/* ----- /Global Elements ----- */
