@import "../../layout/content-sidebar";
// @import "../layout/sidebar-content";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "../../site/primary/posts-and-pages";
@import "default"; // pm resets
@import "home"; // home page
@import "about-us"; // about us page
@import "woocommerce-single";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "../../site/primary/comments";

/* ----- Theme Style ----- */

.site-content {
	.header-banner {
		position: relative;
		.wrapper {
			position: absolute;
    		left: 50%;
    		top: 50%;
    		color: #fff;
			transform: translate(-50%, -50%);
			.archive-title {
				text-align: center;
			}
			.archive-description {
				text-align: center;
				p {
					margin-bottom: 0;
				}
			}
		}
	}
	.container {
		#primary {
			#main {
				// hide redundant page header
				.page-header {
					display: none;
				}
			}
		}
	}
}

.single .entry-content {
	margin-top: 0;
}
@include media-breakpoint-up($breakpoint__mobile-nav) {
	// all posts & pages spacing bottom
	.site-content {
		padding-bottom: 4em;
	}
}
/* ----- /Global Elements ----- */
