/* ----- Main Home ----- */
.page-id-6826 {
  #content {
    padding-bottom: 0;
  }
}
// --- Row 1 hero banner ---
.banner-links { // 3 col links

}

// --- Row 2 Promo Bars 3 Col ---
.banner-links {
  .elementor-image {
    a {
      display: block !important; // IE Fix //
    }
  }
}

// --- Row 3 toggle promo ---


// --- Row 4 Biz member promo


// --- Row 5 bulk ordering


// --- Row 6 gift certificates


// --- Row 7 anniversary delivery


// --- Row 8 catering

@include media-breakpoint-up(lg) { // 992px and up
  .site-content { // #content
    .container {
      .content-area { // #primary
        main { // #main .site-main
          article { // #post-6826
            .entry-content {
  
            }
          }
        }
      }
    }
  }
}

// Media Queries References

@include media-breakpoint-down(lg) { // 1199.98px and down

}
@include media-breakpoint-down(md) { // 991.98px and down

}
@include media-breakpoint-down(sm) { // 767.98px and down

} 
@include media-breakpoint-down(xs) { // 575.98px and down

}

@include media-breakpoint-up(sm) { // 576px and up

}
@include media-breakpoint-up(md) { // 768px and up

}
@include media-breakpoint-up(lg) { // 992px and up

}
@include media-breakpoint-up(xl) { // 1200px and up

}
