// ----- Single ----- //
.single {
  .content-area {
    .post-thumbnail {
        display: none;
    }
    .entry-header {
        border: solid 1px #e9e9e9;
        background-color: #fafafa;
    }
    .card-bottom-wrapper {
      border-top-width: 0 !important;
      border-bottom-width: 0 !important;
    }
    .entry-content {
        padding: 15px;
        border: solid 1px #e9e9e9;
        background-color: #fafafa;
    }
  }
  .post-navigation {
    .nav-links {
      .nav-previous {
        border: 1px solid #e9e9e9;
        background-color: #fafafa;
      }
      .nav-next {
        border: 1px solid #e9e9e9;
        background-color: #fafafa;
      }
      .title {
        color: #ef512a;
      }
    }
  }
}
