// ----- Theme Design ----- //

// --- Elementor Settings --- //
// - Typography - //
h2.elementor-heading-title {
  font-size: 1.25rem !important;
  font-weight: 700;
}
.elementor-widget-heading .elementor-heading-title {
  line-height: 1.8 !important;
}
@include media-breakpoint-up($breakpoint__mobile-nav) {
  h2.elementor-heading-title {
    font-size: 1.5rem !important;
  }
}
// - Elements - //
.elementor-divider-separator {
  border-top-width: 3px !important;
  width: 20% !important;
}
@include media-breakpoint-up($breakpoint__mobile-nav) {
  .elementor-divider-separator {
    border-top-width: 6px !important;
    width: 8% !important;
  }
}

