// ----- Theme Design ----- //

// --- Elementor Settings --- //
// - Typography - //
.elementor-widget-heading .elementor-heading-title.elementor-size-medium {
  @include rfs(16);
  font-weight: 700;
  line-height: 1.8 !important;
}
@include media-breakpoint-up(md) {
  // h2 title
  .elementor-widget-heading .elementor-heading-title.elementor-size-medium, .elementor-widget-heading .elementor-heading-title > a, .elementor-widget-heading .elementor-heading-title, .elementor-heading-title.elementor-size-default {
    font-size: 1.25rem !important;
    font-weight: 700;
  }
}
// - Elements - //
.elementor-divider-separator {
  border-top-width: 3px !important;
  width: 20% !important;
}
@include media-breakpoint-up($breakpoint__mobile-nav) {
  .elementor-divider-separator {
    border-top-width: 6px !important;
    width: 8% !important;
  }
}

// --- Module Settings --- //
// - Archive Cards - //
.archive {
  article {
    .entry-content {
      display: none;
    }
  }
}


// --- Sidebar Settings --- //
// - Layout - //
@include media-breakpoint-down(sm) {
  #primary {
    margin: 0;
    #main {
      margin: 0;
    }
  }
  #secondary {
    width: 100%;
  }
}
// - Design - //
#secondary {
  #recent-posts-1 {
    border: 1px solid #e9e9e9;
    h2 {
      padding: .75rem;
      border-bottom: 1px solid #e9e9e9;
      font-size: 1rem;
      font-weight: 700;
      background-color: #fafafa;
    }
    ul {
      li {
        padding: .75rem;
        a {
          line-height: 1.5;
          color: #2a2a2a;
          &:hover {
            color: #ef512a;
          }
        }
      }
    }
  }
  #custom_html-4 {
    border: 1px solid #e9e9e9;
    h2 {
      padding: .75rem;
      border-bottom: 1px solid #e9e9e9;
      font-size: 1rem;
      font-weight: 700;
      background-color: #fafafa;
    }
    .custom-html-widget {
      padding: .75rem;
    }
  }
  #search-2 {
    border: 1px solid #e9e9e9;
    h2 {
      padding: .75rem;
      border-bottom: 1px solid #e9e9e9;
      font-size: 1rem;
      font-weight: 700;
      background-color: #fafafa;
    }
    form {
      padding: .75rem;
    }
  }
}