@include media-breakpoint-down(md) {
    #mobile-header-widget-1 {
        a {
            .svg-inline--fa {
                @include rfs(32);
            }
        }
        img {
            width: 109px;
        }
    }
}

@include media-breakpoint-up($breakpoint__mobile-nav) {
    #mobile-header-widget-1 {
        display: none;
    }
}